<div class='container'>
	<div class='row' style='margin-bottom:25px;'>
		<div class='col-sm-6'>
			<div class='btn btn-default' ui-sref='home'> 
				<i class="fa fa-arrow-left fa-3"></i>
				Home
			</div>
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-3'>
			<img ng-src='{{artist.images[2].url || "http://placehold.jp/210x210.png"}}' class='artist-image' />
		</div>
		<div class='col-sm-6'>
			<h1>{{artist.name}}</h1>
			<p>On tour until: {{songkickInfo.onTourUntil || "--"}}</p>
			<!-- <p>Followers: {{artist.followers.total}}</p>
			<p>Popularity: {{artist.popularity}}</p> -->
			<div class='row'>
				<a target='_blank' ng-href='{{artist.external_urls.spotify}}'>Spotify URL</a>
			</div>
			<div class='row'>
				<a target='_blank' ng-href='{{songkickInfo.uri}}'>Songkick URL</a>
			</div>
			
		</div>
	</div>
	<div class='row text-center'>
		<div class='col-sm-8'>
			<h2>Upcoming Shows</h2>
		</div>
		<div class='col-sm-4'>
			<h2>Related artists</h2>
		</div>
	</div>
	<div class='row large-text'>
		<div class='col-sm-8'>
			<!-- artist's concerts -->
			<div ng-show="loading" class='text-center'>
				<i class="fa fa-spinner fa-6"></i> &nbsp;&nbsp;&nbsp; LOADING...
			</div>

			<div ng-show="!upcomingEvents.length && !loading" class='text-center'>{{artist.name}} does not have upcoming shows</div>

			<ul class="list-group">
				<li class="list-group-item" ng-repeat='evt in upcomingEvents'>
					<h3>{{evt.displayName}}</h3>
					<p><b>Starts:</b> &nbsp;&nbsp;&nbsp; {{evt.start.date}}</p>
					<p><b>City:</b> &nbsp;&nbsp;&nbsp; {{evt.location.city}}</p>
					<p>
						<a target='_blank' ng-href='{{evt.uri}}'>Event link</a>
					</p>
				</li>
			</ul>
		</div>
		<div class='col-sm-4'>
			<!-- related artists -->
			<ul class="list-group-item">
				<li class="list-group-item" ng-repeat='related in relatedArtists'>
					<a ui-sref="artists.detail({id: related.id})">
						<h4>{{related.name}}</h4>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>