
<div class='row'>
	<div class='col-sm-3'>
		<img ng-src='{{artist.images[2].url || "http://placehold.jp/210x210.png"}}' class='artist-image' />
	</div>
	<div class='col-sm-6'>
		<h1>{{artist.name}}</h1>
		<p>On tour until: {{songkickInfo.onTourUntil}}</p>
		<!-- <p>Followers: {{artist.followers.total}}</p>
		<p>Popularity: {{artist.popularity}}</p> -->
		<div class='row'>
			<a target='_blank' ng-href='{{artist.external_urls.spotify}}'>Spotify URL</a>
		</div>
		<div class='row'>
			<a target='_blank' ng-href='{{songkickInfo.uri}}'>Songkick URL</a>
		</div>
		
	</div>
</div>
<div class='row text-center'>
	<h2>Upcoming Shows</h2>
</div>
<div class='row'>
	<ul ng-repeat='evt in upcomingEvents' class="list-group-item">
		<li class="list-group-item">
			<h3>{{evt.displayName}}</h3>
			<p>Starts: {{evt.start.date}}</p>
			<p>City: {{evt.location.city}}</p>
			<p>
				<a target='_blank' ng-href='{{evt.uri}}'>Event link</a>
			</p>
		</ul>
	</ul>
</div>
