<div class='row'>
	<h1>Artists you follow <p ng-if='user' class="inline text-muted small">({{artistTotal}})</p></h1>
	<p ng-if='!artists.length && !user'>Sign in to see artists you follow</p>
    
    <div class='row' ng-if='user'>
	    <button ng-disabled="currentPage == 0" ng-click="lessPage()" class='btn btn-warning'>
	        Previous
	    </button>
	    <button ng-disabled="currentPage >= artists.length/4 - 1" ng-click="addPage()" class='btn btn-warning'>
	        Next
	    </button>
	    <h2 class='inline'>{{currentPage+1}}/{{totalPages(artists)}}</h2>
    </div>

	<div ng-if='artists.length > 0' 
		ng-repeat='artist in artists | startFrom:currentPage*4 | limitTo:4' 
		class='col-sm-3'>

		<img ng-src='{{artist.images[2].url || "http://placehold.jp/210x210.png"}}' class='artist-image' />
		<h3>{{artist.name}}</h3>
	</div>
	
</div>
<div class="row" ng-controller='ShowsCtrl'>
	<h1>Upcoming shows</h1>

	<div ng-repeat='show in shows' class="col-xs-12 col-sm-8">
		<ul class="event-list">
			<li>
				<time datetime="2014-07-20">
					<span class="day">{{show.datetime | date: 'd'}}</span>
					<span class="month">{{show.datetime | date: 'MMM'}}</span>
					<!-- year and time are set to display none -->
					<span class="year">{{show.datetime | date: 'yyyy'}}</span>
					<span class="time">{{show.datetime | date: 'HH:mm'}}</span>
				</time>
				<img alt="Show thumbnail image" ng-src="{{show.img_thumb}}" />
				<div class="info">
					<h2 class="title">{{show.title}}</h2>
					<p class="desc">{{show.description}}</p>
					<p>Artists: {{show.artists}} </p>
					<div class='btn btn-warning'>Tickets</div>
				</div>
				<!--
				<div class="social">
					<ul>
						<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
						<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
						<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
					</ul>
				</div>
				-->
			</li>
		</ul>
	</div>
</div>
