<div class='row'>
	<div class='col-sm-12'>
		<h1 class='text-center'>Artists you follow <p ng-if='user' class="inline text-muted small">({{artistTotal}})</p></h1>
		<p ng-if='!artists.length && !user' class='text-center large-text'>Sign in to see artists you follow</p>
	    
	    <div class='row' ng-if='user' style='margin-bottom:10px;'>
	    	<div class='col-sm-12'>
			    <button ng-disabled="currentPage == 0" ng-click="lessPage()" class='btn btn-warning'>
			    	<i class="fa fa-arrow-left fa-3"></i>
			        Previous
			    </button>
			    <button ng-disabled="currentPage >= artists.length/4 - 1" ng-click="addPage()" class='btn btn-warning pull-right'>
			        Next
			        <i class="fa fa-arrow-right fa-3"></i>
			    </button>
			    <h2 class='inline' style='margin-left:30%;'>{{currentPage+1}} of {{totalPages(artists)}} pages</h2>
		    </div>
	    </div>

		<div ng-if='artists.length > 0' 
			ng-repeat='artist in artists | startFrom:currentPage*4 | limitTo:4' 
			class='col-md-3 col-sm-6 text-center'>

			<img ng-src='{{artist.images[2].url || "http://placehold.jp/210x210.png"}}' class='artist-image' />
			<h3>
				<a ui-sref="artists.detail({id: artist.id})">{{artist.name}}</a>
			</h3>
		</div>
	</div>
</div>
<div class='row text-center' ng-if='!user'>
	<div class='col-sm-12'>
		<img src='/client/img/diagonal-up-arrow.png' />
	</div>
</div>

<div class='row' ng-if='user' style='margin-top:25px;'>
	<div class='col-sm-12'>
		<h1 class='text-center'>Follow more artists</h1>
	</div>
	<div class='col-sm-12'>
		<div class='input-group'>
			<input type='text' class='form-control' placeholder='Search artists' ng-model='artistSearch' />
			<span class="input-group-addon cursor-pointer" ng-click='search(artistSearch)'>Search</span>
		</div>
		<ul class="list-group-item">
			<li class="list-group-item" ng-repeat='result in searchResults'>
				<a ui-sref="artists.detail({id: result.id})">
					<h4>{{result.name}}</h4>
				</a>
			</li>
		</ul>
	</div>
</div>
