<nav>
<div ng-if='!user' class='pull-right'>
  <div class='btn btn-primary' ui-sref='auth.login'>Login</div>
  <div class='btn btn-success' ui-sref='auth.register'>Register</div>
</div>
<div ng-if='user'>
  <p>Hello <span ng-bind='user.email || user.email'></span></p>
  <div logout></div>
</div>
</nav>

<div class='jumbotron text-center'>
	<h1>Welcome to the site</h1>
	<div class='btn btn-danger' ng-click='logout()' ng-if='token'>Logout</div>

	<div ng-if='!token' class='btn btn-success btn-lg' ng-click='requestSpotifyLogin()'>
		<i class="fa fa-spotify fa-3"></i> Login with Spotify
	</div>

	<p ng-if='token'>Send $rootScope.token (<pre> {{token}}</pre>) to backend</p>

	<ol>
		<li ng-repeat='user in users'>{{user.email}}</li>
	</ol>
</div>

<div class='row' ng-controller='ArtistsCtrl'>
	<div class='btn btn-primary' ng-click='getFollowing()'>Get follow</div>
	<!-- <pre>{{artists | json}}</pre> -->
	<h3 ng-if='artists'>Showing {{artists.length}} of {{artistTotal}} artists you follow</h3>
	<div ng-repeat='artist in artists'>
		{{artist.name}}
 	</div>
 	<div class='btn btn-primary' 
 		ng-click='getFollowing(artists[artists.length - 1].id)'>Next page</div>
</div>