<!DOCTYPE html>
<html ng-app='spotify-admin'>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

	<title>Spotify Starter - Admin</title>
	<meta name="description" content="Spotify starter">
	<meta name="author" content="Connor Leech">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="../client/css/bootswatch.flatly.css">

</head>
<body>
	<div class='container'>
		<div class='jumbotron text-center'>
			<h1>Admin</h1>
		</div>
		<div class='row'>
			<div class='col-sm-12'>
				<h3>Add show</h3>
				<form method='POST' action='/api/shows/add'>
					<div class='form-group'>
						<input type='text' class='form-control' placeholder='Title' name='title' />
					</div>
					<div class='form-group'>
						<input type="datetime-local" name='date' />
					</div>
					<div class='form-group'>
						<textarea placeholder='Description' name='description' class='form-control'></textarea>
					</div>
					<div class='form-group'>
						<input type='text' placeholder='Image thumbnail' name='img_thumb' class='form-control' />
					</div>
					<div class='form-group'>
						<input type='text' placeholder='Ticket link' name='ticket_link' class='form-control' />
					</div>

					<div class='form-group'>
						<h4>Add artists</h4>
						<input type='text' placeholder='Artist #1' name='artist1' class='form-control' />
						<input type='text' placeholder='Artist #2' name='artist2' class='form-control' />
						<input type='text' placeholder='Artist #3' name='artist3' class='form-control' />
						<input type='text' placeholder='Artist #4' name='artist4' class='form-control' />
						<input type='text' placeholder='Artist #5' name='artist5' class='form-control' />
					</div>
					

					<input type='submit' value='Add Show' class='btn btn-primary' />
				</form>
			</div>
		</div>

		<div class='row' ng-controller='TypeaheadCtrl'>
			<!-- Yeah really ugly, link to artist profile -->
			<h4>Artist Searcher: <a ng-if='asyncSelected' ng-href="https://open.spotify.com/artist/{{asyncSelected.split('(')[1].slice(0, -1)}}" target='_blank'>{{asyncSelected.split('(')[0]}}</a> + {{asyncSelected.split('(')[1].slice(0, -1)}}</h4>

		    <input type="text" 
		    	ng-model="asyncSelected" 
		    	placeholder="Artists loaded via $http" 
		    	uib-typeahead="artist for artist in getArtists($viewValue)" 
		    	typeahead-loading="loadingLocations" 
		    	typeahead-no-results="noResults"
		    	typeahead-input-formatter="somethingSomething()"
		    	class="form-control">
		    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
		    <div ng-show="noResults">
		      <i class="glyphicon glyphicon-remove"></i> No Results Found
		    </div>
		</div>
		
	</div>
	<script src='../bower_components/angular/angular.min.js'></script>
	<script src='../bower_components/angular-bootstrap/ui-bootstrap.min.js'></script>
	<script src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
	<script src='../bower_components/angular-spotify/src/angular-spotify.js'></script>
	<script src='../admin/js/app.js'></script>
</body>
</html>